# Format: //devtools/kokoro/config/proto/build.proto

# Linux build does not need resources.
# gfile_resources: "/x20/teams/simple-ml/oss"

build_file: "tensorflow_decision_forests/configure/kokoro/ubuntu/presubmit.sh"

before_action {
  fetch_keystore {
    keystore_resource {
      keystore_config_id: 71384
      keyname: "tensorflow-testing-service-account"
    }
  }
}

bazel_setting {
  project_id: "tensorflow-testing"
  bes_backend_address: "buildeventservice.googleapis.com"
  foundry_backend_address: "remotebuildexecution.googleapis.com"
  upsalite_frontend_address: "https://source.cloud.google.com"

  auth_credential: {
    keystore_config_id: 71384
    keyname: "tensorflow-testing-service-account"
  }
}

action {
  define_artifacts {
    regex: "**/java.log"

  }
}

action {
  define_artifacts {
    regex: "git/tensorflow_decision_forests/output/**"
    strip_prefix: "git/tensorflow_decision_forests/"
  }
}
